<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>Malkov.KS.FeelFit.refresh</string>
		<string>Malkov.KS.FeelFit.health_data_refresh</string>
	</array>
    <key>UIApplicationShortcutItems</key>
    <array>
        <dict>
            <key>UIApplicationShortcutItemsType</key>
            <string>NewsModule</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>newspaper</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>News</string>
            <key>UIApplicationShortcutItemSubtitle</key>
            <string>Open News window</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemsType</key>
            <string>MusclesModule</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>figure.strengthtraining.traditional</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Muscles</string>
            <key>UIApplicationShortcutItemSubtitle</key>
            <string>Open Muscles window</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemsType</key>
            <string>TrainingPlanModule</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>checkmark.diamond</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Plan</string>
            <key>UIApplicationShortcutItemSubtitle</key>
            <string>Open Plan window</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemsType</key>
            <string>HealthModule</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>heart.text.square</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Health</string>
            <key>UIApplicationShortcutItemSubtitle</key>
            <string>Open Health window</string>
        </dict>
    </array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youtube</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>mydomain.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSWatchKitUsageDescription</key>
	<string>My app uses WatchKit to communicate with Apple Watch.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
